/* Auto-hide Sidebar */
/* Makes the channel list auto-hide */
/* created by: Myster */
/* version: 2025-05-24 */

/* =============== PRECONFIG =============== */
/* (variables, hide some things, unhide other, remove padding, etc.) */
:root {
    --transition-duration: .5s cubic-bezier(0.165, 0.84, 0.44, 1);;
    --transition-delay: 0.3s;
}


/* fix header height after removing 1px border */
.title_f75fb0 {
    height: calc(var(--custom-channel-header-height) + 1px) !important;
}

/* bottom padding line */
.sidebar_c48ade::after {
    display: none !important;
}

/* extend channel list and DMs list to the botom of the page */
.container__2637a {
    padding-bottom: 0 !important;
}
.scroller__99e7c {
    margin-bottom: 0 !important;
}

/* compact user panel */
.container__37e49 {
    padding: 0px !important;
}


/* =============== HIDDEN STATE =============== */


/* ===== SIDEBAR & PAGE ===== */

/* SERVER list - reduce width and adjust avatar */
.guilds_c48ade {
    margin-right: -5px;
    margin-left: -5px;
    transition: all var(--transition-duration);
    /* add server/discover buttons */
    .tutorialContainer__650eb,
    .listItem__650eb:has(.pill__5bc7e) {
        opacity: 0;
        transition: all var(--transition-duration);
    }
}


/* CHANNEL list - hidden behind chat */
/* why? if channel list width is below 100px,
it unloads channels and freezes Discord and causes a lag spike,
so we leave it unchanged and adjust everything around it */
.page_c48ade {
    margin-left: calc(-1*(var(--custom-guild-sidebar-width) - (var(--custom-guild-list-width))) - 1px);
    width: calc(100%+(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))) !important;
    border: none !important;
    transition: all var(--transition-duration);
    .container__133bf,
    .callContainer_cb9592,
    .chat_f75fb0 {
        border: none !important;
        border-radius: 8px;
        transition: border-top-left-radius var(--transition-duration);
    }
}

/* sidebar resize bar */
.sidebarResizeHandle_c48ade {
    display: none !important;
}



/* ===== USER, VOICE & ACTIVITY panel ===== */
/* (voice channel/avatar/voice/settings) */
/* hide elements until panel hover */

.panels_c48ade {
    width: 85px !important;
    rotate: 90deg;
    transform: translate(-20px, calc(0.37 * var(--custom-guild-list-width)));
    transition: opacity, width var(--transition-duration);
}


/* voice & activity panel */
.wrapper_e131a9,
.activityPanel_c48ade {
    display: none;
    transition: all var(--transition-duration);
}

/* avatar */
.avatarWrapper__37e49 {
    opacity: 0%;
}

/* mute/deafen/settings */
.buttons__37e49 {
    width: 75px;
    transition: all var(--transition-duration);
    button[aria-label="User Settings"] {
        display: none;
    }
    button {
        rotate: -90deg;
    }
}





/* =============== ANIMATIONS =============== */


/* HOVER sidebar */
body:has(#guild-header-popout) .sidebar_c48ade,
body:has(#guild-context) .sidebar_c48ade,
body:has(#guild-browse-channels-context-menu) .sidebar_c48ade,
body:has(#channel-context) .sidebar_c48ade,
/* user panel */
body:has(#rtc-channel) .sidebar_c48ade,
body:has(#video-device-context) .sidebar_c48ade,
body:has(#user-context) .sidebar_c48ade,
body:has(#audio-device-context) .sidebar_c48ade,
body:has(#user-settings-cog) .sidebar_c48ade,
.sidebar_c48ade:hover,
.sidebar_c48ade:has(.sidebarResizeHandle_c48ade:active) {
    /* roll back page to reveal channel list */
    ~ .page_c48ade {
        margin-left: 0px;
        border-top-left-radius: 0px !important;
    }
    ~ .page_c48ade .container__133bf,
    ~ .page_c48ade .callContainer_cb9592,
    ~ .page_c48ade .chat_f75fb0 {
        border-radius: 0px;
    }

    /* adjust SERVER list */
    .guilds_c48ade {
        margin-left: 0px;
        /* add server/discover buttons */
        .tutorialContainer__650eb,
        .listItem__650eb:has(.pill__5bc7e) {
            opacity: 100%;
        }
    }

    /* adjust CHANNEL list */
    .sidebarResizeHandle_c48ade {
        display: grid !important;
    }
    /* adjust USER, VOICE & ACTIVITY panel */
    .panels_c48ade {
        rotate: 0deg;
        transform: translate(0%);
    }
    button {
        rotate: 0deg;
    }
}

/* UNHOVER sidebar */
.sidebar_c48ade:not(:hover) {
    ~ .page_c48ade,
    ~ .page_c48ade .container__133bf,
    ~ .page_c48ade .callContainer_cb9592,
    ~ .page_c48ade .chat_f75fb0 {
        transition-delay: var(--transition-delay);
    }
}


/* HOVER user, voice & activity panel */
body:has(#rtc-channel) .panels_c48ade,
body:has(#video-device-context) .panels_c48ade,
body:has(#user-context) .panels_c48ade,
body:has(#audio-device-context) .panels_c48ade,
body:has(#user-settings-cog) .panels_c48ade,
.panels_c48ade:hover {
    width: calc(100% - var(--custom-panels-spacing)*2) !important;

    .wrapper_e131a9,
    .activityPanel_c48ade {
        display: inherit;
    }
    
    .avatarWrapper__37e49 {
        opacity: 100%;
    }

    .buttons__37e49 {
        width: 110px;
        button[aria-label="User Settings"] {
            display: flex;
        }
        button {
            rotate: 0deg;
        }
    }
}
