/* Auto-hide Sidebar */
/* Makes the channel list auto-hide */
/* created by: Myster */
/* version: 2025-04-13 */


:root {
    --transition-duration: 0.3s;
    --transition-delay: 0.5s;
}

/* server list - reduce width and adjust avatar */
nav.guilds_c48ade {
    margin-right: -6px;
    margin-left: -6px;
}

/* bottom line - gone */
.sidebar_c48ade::after {
    display: none !important;
}


/* channel list - overlay the chat on top of it, to hide it */
/* why? if channel list width is below 100px, it unloads the channels, which freezes Discord for a moment and causes lag */

/* sidebar resize bar */
.sidebarResizeHandle_c48ade {
    display: none !important;
}
.page_c48ade {
    margin-left: calc(-1*(var(--custom-guild-sidebar-width) - (var(--custom-guild-list-width))) - 1px);
    width: calc(100%+(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))) !important;
    border: none !important;
    .callContainer_cb9592,
    .chat_f75fb0 {
        border: none !important;
        border-radius: 8px;
        transition: border-top-left-radius var(--transition-duration);
    }
    transition: all var(--transition-duration);
}



/* voice panel */
section.panels_c48ade {
    opacity: 50%;
    width: 115px !important; /* change to 0 for only avatar */
    transition: all var(--transition-duration);
}
/* avatar row */
.container__37e49 {
    padding: 0px !important;
    margin-right: 5px;
}

/* activity/voice/user panel - appear on user hover */
.wrapper_e131a9,
.activityPanel_c48ade {
    display:none;
    opacity: 0%;
    transition: opacity var(--transition-duration);
}

.buttons__37e49 {
    width: 60px !important;
    overflow: hidden;
    transition: width var(--transition-duration);
}

section.panels_c48ade:hover {
    opacity: 100%;
    .wrapper_e131a9,
    .activityPanel_c48ade {
        display: inherit;
        opacity: 100%;
    }
    .buttons__37e49 {
        width: 100px !important;
    }
}



/* sidebar HOVER */
.sidebar_c48ade:hover,
.sidebar_c48ade:has(.sidebarResizeHandle_c48ade:active) {
    /* reveal channel list */
    ~ .page_c48ade {
        margin-left: 0px;
        border-top-left-radius: 0px !important;
    }
    ~ .page_c48ade .callContainer_cb9592,
    ~ .page_c48ade .chat_f75fb0 {
        border-radius: 0px;
    }
    .sidebarResizeHandle_c48ade {
        display: grid !important;
    }
    /* adjust voice panel */
    section.panels_c48ade {
        width: 96% !important;
    }
}


/* UNHOVER delays */
.sidebar_c48ade:not(:hover) {
    ~ .page_c48ade,
    ~ .page_c48ade .callContainer_cb9592,
    ~ .page_c48ade .chat_f75fb0,
    section.panels_c48ade,
    .container__37e49,
    .buttons__37e49 {
        transition-delay: var(--transition-delay);
    }
}

section.panels_c48ade:not(:hover) & div.sidebar_c48ade:not(:hover) {
    transition-delay: var(--transition-delay);
}
