/* Debloat UI - Buttons Edition */
/* Hides UI buttons that I deemed unnecessary */
/* created by: Myster */
/* version: 2025-04-03 */


/* Titlebar - hide the help button */
a:has(div[aria-label="Help"]) {
    display: none !important;
}

/* Chat textbox buttons - leave only the "+" and emote buttons */
div.buttons__74017 > button[aria-label="Send a gift"],
div.buttons__74017 > div:has(
    button[aria-label="Send a gift"],
    button[aria-label="Open GIF picker"],
    button[aria-label="Open sticker picker"],
    button[aria-label="Apps"]) {
    display: none;
}
